<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is about page..</h1>
    <hr />

    <div class="host-tag"  th:replace= "${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test}">

    <section>
        <h1>User is Logged in</h1>
        <h2>This is dynamic content</h2>
        <p>    
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis fugiat harum quas incidunt ex, iusto ab cumque ullam fugit delectus sunt doloremque repudiandae rem, ipsam hic eius ad quae.
        </p>
        <button>Click on Dynamic content</button>
    </section>

    </div>
    
</body>
</html>